#balance-counter{
    margin-right: 15px;
    margin-bottom: 10px;
    border: 1px solid gray;
    border-radius: 5px;
    background-color: #ffffff;
}

#counter{
    padding-left: 10px;
    font-size: 45px;
}

#saldo {    
    padding-left: 10px;
    color: #bab8b8;
}

#saldo-info {
    padding-left: 10px;
    color: #bab8b8;
    font-size: 15px;
}

